.content-card {
  position: fixed;
  z-index: 100;
  top: 90px;
  left: 20px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);

  .back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    line-height: 10px;
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}