joblib>=0.13.2
Pillow>=3.3.1
numpy>=1.16.3
labelme>=3.15.2 # IMPORTANT: If no luck with PyQt dependency, try installing PySide2, as the prompt suggests
ExifRead>=2.1.2
Flask>=1.0.2
requests>=2.21.0
scikit-learn>=0.20.3
scipy==1.2.1
