.nav-overlay {
  z-index: 99;
  position: fixed;
  top: -1px;
  width: 100%;
  pointer-events: none;
  height: 170px;
  background: linear-gradient(180deg, #EEEEEE 0%, rgba(0,0,0,0.3) 0.71%, rgba(0,0,0,0.3) 60.64%, rgba(255,255,255,0) 100%);
}

.navigation {
  z-index: 100;

  .burger-menu {
    position: fixed;
    top: 90px;
    left: 36px;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);

    .nav-link {
      line-height: 30px;

      &:hover {
        background: #eee;
      }
    }
  }

  .nav-container {
    z-index: 99;
    height: 60px;
    position: fixed;
    top: 20px;
    left: 36px;

    .burger-btn {
      padding: 23px;
      line-height: 0.73rem;
      text-decoration: none;
    }

    .nav-link {
      padding-top: 19px;
      padding-bottom: 19px;

      &:hover {
        background: #eee;
      }
    }

    .user-photo {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }
}

.navigation_button {
  height: 60px;
  width: 60px;
  top: 20px;
  cursor: pointer;
}

.navigation_button__search {
  left: 560px;
}

.navigation_button__my-location {
  left: 480px;
}

.navigation_location-search.form-control {
  position: absolute;
  border: none;
  height: 100%;
  width: 0;
  transition: width 0.5s, left 0.5s;
  padding: 0;
  left: 48px;
}

.navigation_location-search__opened.navigation_location-search.form-control {
  outline: 0 none;
  box-shadow: none;
  border: none;
  left: 48px;
  width: 280px;
  padding-right: 40px;
}

.icon.navigation_location-cross-icon {
  position: absolute;
  cursor: pointer;
  left: 287px;
  width: 30px;
  opacity: 0;
}

.icon.navigation_location-cross-icon__opened {
  left: 270px;
  opacity: 1;
  transition-delay: 0.5s;
}