.add-field-card.content-card {
  width: 220px;
  padding: 10px;

  .card-title {
    margin-bottom: 15px;
  }

  .field-name-label {
    margin-bottom: 5px;
  }

  .field-name-input {
    margin-bottom: 20px;
  }

  .specify-text {
    margin-bottom: 10px;
  }

  .add-btn {
    &.disabled {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .preview {
    height: 175px;
    width: 200px;
    background-size: contain;
    background: url('../../assets/craft_version5.gif');
    margin-bottom: 20px;
  }
}