@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #414141;
  font-size: 18px;
  line-height: 21px;
}

html, #root, body {
  width: 100%;
  height: 100%;
}

a {
  color: #414141;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.large {
  font-size: 24px;
  line-height: 28px;
}

.medium {
  font-size: 14px;
  line-height: 16px;
}

.small {
  font-size: 10px;
  line-height: 11px;
}

.text-black {
  color: #000 !important;
}

.text-white {
  color: #fff !important;
}

.text-gray {
  color: #bbb !important;
}

.bg-black {
  background: #000 !important;
}

.round {
  border-radius: 8px !important;
}

.round-half {
  border-radius: 4px !important;
}

.pr-25 {
  padding-right: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}