.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-user {
  background-image: url('assets/Oval.svg')
}

.icon-cross {
  height: 14px;
  width: 18px;
  background-image: url('assets/ic_clear.svg');
}

.icon-add {
  height: 14px;
  width: 14px;
  background-image: url('assets/ic_add.svg');
}

.icon-back {
  height: 13px;
  width: 20px;
  background-image: url('assets/ic_back.svg');
}

.icon-search2 {
  height: 18px;
  width: 18px;
  background-image: url('assets/search2.svg');
}

.icon-filter {
  height: 17px;
  width: 17px;
  background-image: url('assets/filter.svg');
}

.icon-planting {
  height: 60px;
  width: 64px;
  background-image: url('assets/planting.svg');
}

.icon-burger {
  height: 14px;
  width: 18px;
  background-image: url('assets/ic_menu.svg');
}

.icon-plant {
  height: 30px;
  width: 30px;
  background-image: url('assets/plant.svg');
}

.icon-scroll {
  height: 30px;
  width: 30px;
  background-image: url('assets/scroll.svg');
}

.icon-settings {
  height: 30px;
  width: 30px;
  background-image: url('assets/settings.svg');
}

.icon-stats {
  height: 30px;
  width: 30px;
  background-image: url('assets/stats.svg');
}

.icon-date {
  height: 20px;
  width: 20px;
  background-image: url('assets/ic_date_range.svg');
}

.icon-help {
  height: 13px;
  width: 13px;
  background-image: url('assets/ic_help_outline.svg');
}

.icon-warning {
  height: 18px;
  width: 18px;
  background-image: url('assets/ic_warning.svg');
}

.icon-tractor {
  height: 30px;
  width: 30px;
  background-image: url('assets/tractor.svg');
}

.icon-farmer {
  height: 30px;
  width: 30px;
  background-image: url('assets/farmer.svg');
}

.icon-lightning {
  height: 30px;
  width: 30px;
  background-image: url('assets/lightning.svg');
}

.icon-search {
  background-image: url('assets/ic_search.svg');
  width: 22px;
  height: 22px;
}

.icon-my-location {
  background-image: url('assets/ic_my_location.svg');
  height: 22px;
  width: 22px;
}

.icon-weather-fallback {
  width: 30px;
  height: 30px;
  background-image: url('assets/clear_sky.svg') !important;
}

.icon-broken-cloud {
  width: 30px;
  height: 30px;
  background-image: url('assets/broken_clouds.svg') !important;
}

.icon-cleat-sky {
  width: 30px;
  height: 30px;
  background-image: url('assets/clear_sky.svg') !important;
}

.icon-few-clouds {
  width: 30px;
  height: 30px;
  background-image: url('assets/few_clouds.svg') !important;
}

.icon-mist {
  width: 30px;
  height: 30px;
  background-image: url('assets/mist.svg') !important;
}

.icon-rain {
  width: 30px;
  height: 30px;
  background-image: url('assets/rain.svg') !important;
}

.icon-shattered-clouds {
  width: 30px;
  height: 30px;
  background-image: url('assets/scattered_clouds.svg') !important;
}

.icon-snow {
  width: 30px;
  height: 30px;
  background-image: url('assets/snow.svg') !important;
}

.icon-thunderstorm {
  width: 30px;
  height: 30px;
  background-image: url('assets/thunderstorm.svg') !important;
}

.icon-shower-rain {
  width: 30px;
  height: 30px;
  background-image: url('assets/shower_rain.svg') !important;
}