.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-user {
  background-image: url('assets/Oval.svg')
}

.icon-cross {
  height: 14px;
  width: 18px;
  background-image: url('assets/ic_clear.svg');
}

.icon-cross2 {
  height: 10px;
  width: 10px;
  background-image: url('assets/ic_close.svg');
}

.icon-back {
  height: 10px;
  width: 10px;
  background-image: url('assets/ic_back.svg');
}

.icon-search2 {
  height: 11px;
  width: 11px;
  background-image: url('assets/search2.svg');
}

.icon-filter {
  height: 10px;
  width: 10px;
  background-image: url('assets/filter.svg');
}

.icon-planting {
  height: 60px;
  width: 64px;
  background-image: url('assets/planting.svg');
}

.icon-burger {
  height: 14px;
  width: 18px;
  background-image: url('assets/ic_menu.svg');
}

.icon-plant {
  height: 30px;
  width: 30px;
  background-image: url('assets/plant.svg');
}

.icon-scroll {
  height: 30px;
  width: 30px;
  background-image: url('assets/scroll.svg');
}

.icon-settings {
  height: 30px;
  width: 30px;
  background-image: url('assets/settings.svg');
}

.icon-stats {
  height: 30px;
  width: 30px;
  background-image: url('assets/stats.svg');
}

.icon-tractor {
  height: 30px;
  width: 30px;
  background-image: url('assets/tractor.svg');
}

.icon-farmer {
  height: 30px;
  width: 30px;
  background-image: url('assets/farmer.svg');
}

.icon-search {
  background-image: url('assets/ic_search.svg');
  width: 18px;
  height: 18px;
}

.icon-my-location {
  background-image: url('assets/ic_my_location.svg');
  height: 22px;
  width: 22px;
}