.field-details-card {
  width: 441px;
  padding-bottom: 10px;

  .limit-tooltip {
    top: 155px;
    left: 200px;    
  }

  .no-photo-toggle {
    cursor: pointer;
  
    &:hover + .no-photo-tooltip {
      display: block;
    }
  }
  
  .no-photo-tooltip.content-card {
    display: none;
    position: fixed;
    padding: 10px;
    max-width: 250px;
    top: 100px;
    left: 210px;
  }

  .composition-tooltip.content-card {
    display: none;
    padding: 10px;
    max-width: 250px;
    position: fixed;
    top: 85px;
    left: 425px;
  }

  .composition-toggle {
    cursor: pointer;

    &:hover + .composition-tooltip {
      display: block;
    }
  }
}